{% extends "collection/base.html" %}

{% block title %}
  Collection
{% endblock %}

{% block buttonscript %}
  // Function to make an API call to the server-side function
  async function triggerSyncAPI() {
      const response = await fetch('/collection/syncStartAdlib', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCsrfToken()
          },
          body: JSON.stringify({ action: 'run' })
      });

      const data = await response.json();
      alert(data.message);
      updateStatus(); // Check status right after triggering sync
  }
  async function triggerSyncPlone() {
      const response = await fetch('/collection/syncStartPlone', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCsrfToken()
          },
          body: JSON.stringify({ action: 'run' })
      });

      const data = await response.json();
      alert(data.message);
      updateStatus(); // Check status right after triggering sync
  }

  async function triggerManualSync(ccObjectID, ccIndexName) {
      const response = await fetch('/collection/manualsync/', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': getCsrfToken()
          },
          body: JSON.stringify({ ccObjectID: ccObjectID, ccIndexName: ccIndexName, action: 'run' })
      });

      if (!response.ok) {
          console.error('Error:', response.statusText);
          return;
      }

      const data = await response.json();
      alert(data.message);
      updateStatus();
  }

  async function stopSync() {
    const response = await fetch('/collection/stopsync', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCsrfToken()
        },
        body: JSON.stringify({ action: 'stop' })
    });

    const data = await response.json();
    alert(data.message);
    updateStatus(); // Check status after attempting to stop sync
  }

  async function delete_plone_dates() {
    const response = await fetch('/collection/delete_plone_dates', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCsrfToken()
        },
        body: JSON.stringify({ action: 'stop' })
    });

    const data = await response.json();
    alert(data.message);
    updateStatus();
  }

  // Function to check the sync status and update the UI
  async function updateStatus() {
    const response = await fetch('/collection/sync_status'); // Adjust the URL to your status-check endpoint
    const data = await response.json();
    document.getElementById('syncRunning').innerHTML = data.is_locked ? 'Syncing' : 'Not Syncing';

    if (data.is_locked && !window.syncPollingInterval) {
      window.syncPollingInterval = setInterval(updateStatus, 2000);
    } else if (!data.is_locked && window.syncPollingInterval) {
      clearInterval(window.syncPollingInterval);
      window.syncPollingInterval = null;
    }
  }

  // Get the CSRF token from the page's cookies
  function getCsrfToken() {
      let name = 'csrftoken=';
      let decodedCookie = decodeURIComponent(document.cookie);
      let cookies = decodedCookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
          let cookie = cookies[i];
          while (cookie.charAt(0) === ' ') {
              cookie = cookie.substring(1);
          }
          if (cookie.indexOf(name) === 0) {
              return cookie.substring(name.length, cookie.length);
          }
      }
      return '';
  }

  // Initial status check on page load
  document.addEventListener('DOMContentLoaded', updateStatus);
{% endblock %}

{% block content %}
  <a href='/'>Homepage</a>
  <a href='/logs'>Logs</a>
  <h3>Sync Status: 
    <span id="syncRunning">{% if sync_running %}Syncing{% else %}Not Syncing{% endif %}</span>
  </h3>
  <button onclick="triggerSyncAPI()">Sync API</button>
  <button onclick="triggerSyncPlone()">Sync Plone</button>
  <button onclick="stopSync()">Stop Sync</button>
  <button onclick="delete_plone_dates()">Delete Plone Timestamps</button>
  <button onclick="window.location.href='{% url 'not_synced' %}'">Not Synced Objects</button>
  <button onclick="window.location.href='{% url 'all_objects' %}'">All Objects</button>
  <button onclick="window.location.href='/collection'">Refresh the Page</button>
  <br><br>
  <form method="GET" action="{% url 'check_status' 'ccobjectid' %}" onsubmit="this.action = this.action.replace('ccobjectid', document.getElementById('site-search').value.trim()); return true;">
    <label for="site-search">Search an object with ccObjectID:</label>
    <input type="search" id="site-search" name="ccObjectID" required />
    <button type="submit">Search</button>
  </form>
  <br><br>
  <table>
    <thead>
      <tr>
        <th>ccObjectID</th>
        <th>Synced</th>
        <th>Sync Manually</th>
        <th>Object Logs</th>
        <th>Title</th>
        <th>Index Name</th>
        <th>Last Modified in API</th>
        <th>Time Stamp on Plone</th>
      </tr>
    </thead>
    <tbody>
      {% for museum_object in museum_objects %}
        <tr>
          <td>{{ museum_object.ccObjectID }}</td>
          <td>{{ museum_object.synced }}</td>
          <td>
            <button onclick="triggerManualSync('{{ museum_object.ccObjectID }}', '{{ museum_object.index_name }}')">Sync Object</button>
          </td>
          <td>
              <form action="{% url 'show_museum_object_logs' museum_object.id %}" method="get" style="display: inline;">
                  <button type="submit" style="background-color: #007bff; color: white; border: none; padding: 5px 10px; cursor: pointer; border-radius: 3px;">
                      Object's Logs
                  </button>
              </form>
          </td>
          <td>{{ museum_object.title }}</td>
          <td>{{ museum_object.index_name }}</td>
          <td>{{ museum_object.api_lastmodified }}</td>
          <td>{{ museum_object.plone_timestamp }}</td> 
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
      {% if museum_objects.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ museum_objects.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ museum_objects.number }} of {{ museum_objects.paginator.num_pages }}.
      </span>

      {% if museum_objects.has_next %}
        <a href="?page={{ museum_objects.next_page_number }}">next</a>
        <a href="?page={{ museum_objects.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
    <form method="GET" action="">
      <label for="page_number">Go to page:</label>
      <input type="number" id="page_number" name="page" min="1" max="{{ page_obj.paginator.num_pages }}" required>
      <button type="submit">Go</button>
    </form>
  </div>
{% endblock %}
