<!-- templates/collection/view_log.html -->

{% extends "collection/base.html" %} {% block title %} Collection {% endblock %}
{% block buttonscript %} {% endblock %} {% block content %}
      <header class="header">
        <a href="/">Homepage</a>
        <a href="/collection">Collections</a>
      </header>
      <button onclick="window.location.href='/logs'">Refresh the Page</button>
    <section class="sync-status">
      <h3>
        Sync Status:
        <span id="syncRunning"
          >{% if sync_running %}Syncing{% else %}Not Syncing{% endif %}</span
        >
      </h3>
    </section >
      <h1>Log File</h1>
      <pre>
          {% for line in log_lines %}
              {{ line|escape }}
          {% endfor %}
      </pre>
{% endblock %}